@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
  }

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#ecf0f1;
    nav{
        box-shadow: 0px 10px 8px rgba(0,0,0,0.2);
        display: grid;
        grid-template-columns: auto auto auto auto;
        text-align: center;
        background-color: #b33939;
        height: 50px;
        line-height: 50px;
        font-weight: bolder;
        vertical-align: middle;
        position: fixed;
        width: 100%;
        z-index: 2;
        a{
            font-family: "Poppins", serif;
            text-decoration: none;
            color: #ecf0f1;
            transition: .3s;
        }
        a:hover{
            text-decoration: underline;
            color: #f1c40f;
        }
    }
    #content{
        padding-left: 200px;
        font-family: "Abril Fatface",serif;
        font-weight: 100px;
        font-size: 50px;
        color: #2980b9;
        .jdc{
            color: #f39c12;
        }
        p{
            font-size: 15px;
            font-family: "Poppins",serif;
            font-weight: 500;
            .dc{
                color: #f39c12;
                font-weight: 700;
            }
            .dcl{
                color: #f39c12;
                font-weight: 600;
            }
            .dcl:hover{
                color: #2980b9;
            }
        }
        #profile{
            width: 700px;
            color: #e74c3c;
            .jdc{
                color: #27ae60;
            }
            .dcl{
                color: #27ae60;
            }
            .dc{
                color: #27ae60;
            }
            .dcl:hover{
                color: #f1c40f;
            }
            button{
                padding: 10px;
                border-radius: 5px;
                width: 80px;
                border-color: #27ae60;
                background: none;
                svg{
                    width: 30px;
                    height: 30px;
                    color: #27ae60;
                }
            }
            button:hover{
                background-color: #27ae60;
                svg{
                    color:#ecf0f1;
                }
            }
            img{
                width: 550px;
                margin-top: -250px;
                margin-left: 600px;
            }
        }

        #exp{
            padding-top: 50px;
            padding-left: 400px;
            padding-right: 200px;
            color: #f39c12;
            img{
                position: absolute;
                margin-top: -420px;
                margin-left: -600px;
                width: 550px;
            }
            .jdc{
                color: #0097e6;
            }
            .dcl{
                color: #0097e6;
            }
            .dcl:hover{
                color: #f39c12;
            }
        }
    }

    #int{
        padding-top: 85px;
        width: 60%;
        display: grid;
        grid-template-columns: auto auto;
        .judul{
            grid-column: 1/span 2;
        }
        .jdc{
            color: #e74c3c;
        }
    }
    #flatimage{
        position: absolute;
        width: 550px;
        margin-left: 750px;
        margin-top: -450px;
    }


    .flip-card {
        font-size: 14px;
        background-color: transparent;
        width: 275px;
        height: 225px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        margin-bottom: 35px;
        transition: 0.3s;
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .depan, .belakang {
        border-radius: 20px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      .depan {
        line-height: 50px;
        vertical-align: middle;
        padding-top: 5%;
        background-color: #0097e6;
        color:#2c3e50;
        font-size:150%;
      }
      
      .belakang {
        line-height: 50px;
        vertical-align: middle;
        padding-top: 5% ;
        font-size: large;
        background-color: #e74c3c;
        color:#2c3e50;
        transform: rotateY(180deg);
        svg{
            width: 16px;
            height: 16px;
            color: #FFC312;
        }
      }
    
      #pro{
        margin-top: 100px;
        width: 55%;
        color: #1abc9c;
            .cards{
                font-size: 20px;
                font-weight: 300;
                .card {
                    border-radius: 20px;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                    transition: 0.3s;
                    margin-bottom: 50px;
                }
                img{
                    width: 300px;
                    border-radius: 20px;
                }
                  
                .card:hover {
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                }
                  
                .container {
                    padding-top: 10px;
                    padding-left: 10px;
                    display: grid;
                    grid-template-columns: auto auto;
                    .items2{
                        padding-left: 20px;
                    }
                }
                button{
                    color: #d35400;
                    border-color: #d35400;
                    width: 100px;
                    padding: 2px;
                    font-size: 15px;
                    margin:10px 0;
                }
                button:hover{
                    color: #ecf0f1;
                    background-color: #d35400;
                    font-weight: bold;
                }
            }

        }

        .blankpad{
            padding-top: 100px;
        }
}

#gambarbaru{
    width: 550px;
    position: absolute;
    margin-left: 950px;
    margin-top: -650px;
}
footer{
    box-shadow: 0 -8px 8px rgba(0,0,0,0.2);
    padding-top: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 120px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #8e44ad;
    color: #ecf0f1;
    a{
        color: #ecf0f1;
    }
    a:hover{
        color: #f1c40f;
    }
}
@media only screen and (max-width: 1200px){
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        .blankpad{
            padding-top: 50px;
        }
        #content{
            padding-left: 0px;
            margin: 0px;
            font-size: 30px;
            p{
                font-size: 12px;
            }
            #profile{
                padding-left: 10px;
                width: 95%;
                img{
                    margin-left: 50px;
                    margin-top: 10px;
                    width: 70%;
                }
            }
            #exp{
                width: 95%;
                padding-left: 10px;
                padding-right: 0px;
                img{
                    position: static;
                    margin: 0px;
                    width: 70%;
                }
            }

            #int{
                width: 95%;
                padding-left: 10px;
            }
            .flip-card {
                font-size: 14px;
                width: 85%;
                height: 150px;
                
            }
                            
            .depan {
                padding-top: 5%;
                font-size: 18px;
                img{
                    width: 100px;
                }
            }
            
            .belakang {
            padding-top: 5% ;
            font-size: 15px;
            svg{
                width: 10px;
                height: 10px;
                }
            }
            #flatimage{
                position: absolute;
                width: 70%;
                margin-left: 40px;
                margin-top: 0px;
            }

            #pro{
                margin-top: 50%;
                width: 95%;
                padding-left: 10px;
                .cards{
                    font-size: 15px;
                    font-weight: 300;
                    .card {
                        border-radius: 10px;
                        margin-bottom: 50px;
                    }
                    img{
                        width: 100px;
                        border-radius: 10px;
                    }     
                        
                    .container {
                        padding-top: 10px;
                        padding-left: 10px;
                        display: grid;
                        grid-template-columns: auto auto;
                        .items2{
                            padding-left: 20px;
                        }
                    }
                    button{
                        width: 50px;
                        padding: 2px;
                        font-size: 12px;
                    }
                }
            }     
        }
        #gambarbaru{
            width: 80%;
            position: static;
            margin-left: 30px;
            margin-top: -10px;
        }
        footer{
            padding-top: 20px;
            grid-template-columns: 0.5% 33% 33% 33% 0.5%;
            height: 100%;
            font-size: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

}